button {
  display: inline-block;
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn {
  height: 40px;
  background: $green;
  border-radius: 35px;
  font-size: 18px;
  line-height: 21px;
  color: $white;
  &__out {
    position: relative;
    padding-left: 30px;
    background-color: $grey;
    &::before {
      position: absolute;
      top: 50%;
      left: 35px;
      transform: translateY(-50%);
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background: url("../img/icons/icon-triangle.svg") center center/cover
        no-repeat;
    }
  }
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $green;
    border-radius: 100%;
  }
  &-icon--white {
    background-color: $white;
  }
  &-icon__search {
    &::after {
      content: "";
      display: inline-block;
      width: 23px;
      height: 23px;
      background: url("../img/icons/icon-plus.svg");
    }
  }
  &-icon__message {
    &::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 17px;
      background: url("../img/icons/icon-letter.svg");
    }
  }
  &-icon__pen {
    &::after {
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url("../img/icons/icon-pen.svg");
    }
  }
}
.localization .btn {
  width: 156px;
}
.offers .btn.btn__out {
  display: none;
}

@media (min-width: $desktop) {
  .btn {
    height: 58px;
    font-size: 24px;
    line-height: 28px;
    &__out {
      padding-left: 50px;
      &::before {
        left: 130px;
      }
    }
  }
  .localization .btn {
    width: 350px;
  }
  .offers .btn.btn__out {
    display: inline-block;
    width: 284px;
    background-color: $green;
  }
  .offers .btn__out::before {
    left: 44px;
  }

  .offers .btn-icon__search {
    display: none;
  }
}
