.card-desktop {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto 10px;
    max-width: $desktop;
    height: 45px;
    background-color: $white;
    border-radius: 35px;
    list-style: none;
    cursor: pointer;
  }
  &:hover &__item-nav {
    display: flex;
  }
  &:hover &__wrapper {
    background-color: $orange;
  }
  &:hover &__item {
    color: $white;
  }
  &:hover &__icon-check path {
    stroke: $white;
  }
  &__head {
    margin: 0 auto 20px;
    display: flex;
    max-width: $desktop;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: $grey2;
  }
  &__item {
    text-align: center;
    border-left: 1px solid $grey4;
    font-size: 14px;
    line-height: 16px;
    color: $blue2;
    &:first-child {
      border-left: none;
    }
    &-check {
      display: inline-block;
      width: 24px;
      height: 20px;
      margin: 0 auto;
      background: url("../img/icons/icon-check.svg") center center/cover
        no-repeat;
    }
  }
  &__nav-item {
    margin: 0 5px;
  }
  &__item-nav {
    display: none;
    position: absolute;
    top: 3px;
    right: -115px;
  }
  &__nav-text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $white;
  }
}
