.form-offers {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
  }
  &__search {
    position: relative;
  }
  &__icon-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &__search {
    width: 273px;
    height: 40px;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    padding: 0 18px;
    &:focus {
      outline: none;
    }
  }
}
