.row1 {
  width: 12.9182%;
}
.row2 {
  width: 11.3382%;
}
.row3 {
  width: 10.223%;
}
.row4 {
  width: 9.6654%;
}
.row5 {
  width: 9.7583%;
}
.row6 {
  width: 9.1078%;
}
.row7 {
  width: 15.6133%;
}
.row8 {
  width: 15.5204%;
}
.row9 {
  width: 5.855%;
}
