.main-index {
  background: url("../img/bg-build-mobile.jpg") center center/cover no-repeat;
  display: flex;
  flex-grow: 1;
}
.localization {
  width: 100%;
  padding: 16px 24px 0;
  background-color: rgba(33, 50, 94, 0.8);
  &__wrapper-title {
    margin: 0 auto;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid $white;
  }
  &__icon-avatar {
    margin-left: 15px;
    width: 45px;
    height: 39px;
    background: url("../img/icons/icon-avatar.png") center center/cover
      no-repeat;
  }
  &__title {
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: $white;
  }
  &__text {
    margin-top: 48px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: $white;
  }
  .form-field {
    margin-top: 56px;
  }
  .form-field__btns {
    margin-top: 92px;
  }
}

@media (min-width: $desktop) {
  .main-index {
    background-image: url("../img/bg-car-desctop.jpg");
  }
  .localization {
    padding: 48px 0 71px;
    &__wrapper-title {
      border-bottom: 5px solid $white;
      width: $desktop;
    }
    &__title {
      font-size: 48px;
      line-height: 55px;
    }
    &__icon-avatar {
      margin-left: 30px;
      width: 76px;
      height: 76px;
    }
    &__text {
      margin-top: 72px;
    }
  }
}
