.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 27px;
  background: url("../img/bg-build-mobile.jpg") center center/cover no-repeat;
  &::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(33, 50, 94, 0.8);
  }
  &__wrapper {
    position: relative;
    z-index: 999;
  }
  &__sorts {
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 40px;
    background: $white;
    border-radius: 30px;
    font-size: 18px;
    line-height: 40px;
    &-left {
      text-align: center;
      color: $black;
      width: 50%;
      height: 100%;
      border-radius: 35px;
    }
    &-right {
      text-align: center;
      background-color: $orange;
      width: 50%;
      height: 100%;
      color: $white;
      border-radius: 35px;
    }
  }
  &__divider {
    margin: 26px 0;
    width: 329px;
    height: 3px;
    background: $white;
  }
  &__cards {
    list-style: none;
  }
}
