.main-admin {
  background: url("../img/bg-build-mobile.jpg") center center/cover no-repeat;
  display: flex;
  flex-grow: 1;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 26px;
  &__head {
    display: none;
  }
}
.offers {
  padding-top: 27px;
  width: 100%;
  background-color: rgba(33, 50, 94, 0.8);
  &__sorts {
    margin: 0 auto 26px auto;
    display: flex;
    justify-content: space-between;
    max-width: 330px;
    height: 40px;
    background: $white;
    border-radius: 30px;
    font-size: 18px;
    line-height: 40px;
    &-left {
      text-align: center;
      color: $black;
      width: 50%;
      height: 100%;
      border-radius: 35px;
      cursor: pointer;
    }
    &-right {
      text-align: center;
      background-color: $orange;
      width: 50%;
      height: 100%;
      color: $white;
      border-radius: 35px;
      cursor: pointer;
    }
  }
  &__cards-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 26px auto 0 auto;
    list-style: none;
  }
}

@media (min-width: $desktop) {
  .main-admin {
    background: url("../img/bg-build-desctop.jpg") center center/cover no-repeat;
  }
  .cards {
    display: block;
  }
  .offers {
    padding-top: 43px;
    &__sorts {
      margin: 0 auto 15px auto;
      max-width: 1076px;
      height: 58px;
      border-radius: 35px;
      font-size: 30px;
      line-height: 58px;
    }
    &__cards {
      margin: 35px auto 0;
      max-width: $desktop;
      list-style: none;
    }
  }
}
