$arimo-font-family: Arimo, sans-serif;
$green: #009c41;
$orange: #ff7728;
$white: #fff;
$black: #000;
$grey: #c4c4c4;
$grey2: #f5f5f5;
$grey3: #797979;
$grey4: #e5e5e5;
$blue: #1d4076;
$blue2: #21325e;

$desktop: 1076px;
$tablet: 660px;
